.lab-title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.lab-subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

.page-content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 60px;
}

.profile img {
  max-width: 220px;
  margin: 20px auto 30px auto;
  display: block;
}

.lab-subtitle a {
  color: inherit;
  text-decoration: none;
}

.lab-subtitle a:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
